* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(46, 46, 46);
}

div.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 70vh 70vh;
    margin: 20px;
}

div.solo {
    margin: 20px;
}

div.solo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

    transition: 0.3s ease;
    cursor: pointer;
}

div.solo img:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
}

#modal {
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
}

img {
    margin-top: 5%;
    max-width: 70vw;
    max-height: 70vh;
    object-fit: contain;
    width: auto;
    height: auto;
    border-radius: 8%;
}

#btn-fechar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    height: 5%;
    width: 10%;
    border-radius: 4px;
    color: white;
    border: 1px solid black;
}

#btn-fechar:hover {
    cursor: pointer;
    background-color: rgb(104, 104, 104);
}



@media (min-width: 768px){

    div.container {
        grid-template-columns: repeat(2, 1fr);
        
    }   
}